

#top{
    text-align: center;
}

html{
    background: url('https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808…bihl1rNIwZ9vpLCVu08jOLuaRXl9jSXBUX9bw&oe=62F2F170')0px -300px;
    background-size: cover;
    background-repeat: no-repeat;
}
